body{
    margin: 0px;
    text-align: center;
    font-family: 'Merriweather', serif;
}
.main{
    background-color: #E4F9F5;
    padding: 100px;
    position: relative;
}
h1{
    color: #66BFBF;
    font-size: 90px;
    font-family: 'Sacramento', cursive;
    margin: 50 auto 0 auto;
    line-height: 2;
}
h2{
    color: #66BFBF;
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
}
.top-cloud{
    position: absolute;
    right: 500px;
    top: 50px;
}
.bottom-cloud{
    position: absolute;
    left: 400px;
    bottom: 400px;
}
.middle-container{

}
.skill-head{
    color: #11999E;
    text-align: left;
}
.skill-text{
    text-align: left;
}
.skill-row{
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2; 
}
.profile{
    margin-top: 20px;
}
.image-one{
    width: 25%;
    float: left;
    margin-right: 25px;
}
.image-two{
    width: 25%;
    float: right;
    margin-left: 25px;
}

/*
Change the text to "Contact Me"

Change the border-radius to 8

Start gradient colour: #11cdd4

End gradient colour: #11999e

Hover start colour: #30e3cb

Hover end colour: #2bc4ad
*/
