body{
    font-family: 'Montserrat', sans-serif;
}
    /* font-family: 'Merriweather', serif; */
    /* font-family: 'Montserrat', sans-serif; */
    /* font-family: 'Sacramento', cursive; */
    /* font-family: 'Ubuntu', sans-serif; */
#title{
    background-color: #ff4c68;
    color: #fff;
}
h1{
    font-family: 'Montserrat-Black',sans-serif;
    font-size: 3.5rem;
    font-weight: 1000;
    line-height: 1.5;
}
h2{
    font-size: 2.75rem;
    font-weight: bolder;
}
h3{
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: 1.5rem;
    /* padding-right: auto; */
}
p{
    color: #8f8f8f;
}

.container-fluid{
    padding: 3% 15%;
}

/* ------------------navbar------------------ */
.navbar{
    padding-bottom: 50px;
}
.navbar-brand{
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
}
.navbar-item{
    padding: 0 20px;
}
.nav-link{
    font-size: medium;
}
.download-btn{
    margin: 5% 3% 5% 0%;
}
/* ------------------------------------------- */

.title-img{
    width: 60%;
    transform: rotate(30deg);
    margin-left: 100px;
}

/* features */
#features{
    padding: 5% 10%;
}
.feature-box{
    text-align: center;
    padding: 5%;
}
.icon{
    font-size: 2.5rem;
    padding-bottom: 10px; 
    color: #ef8172;
}
.icon:hover{
    color: #ff4c68;
}

/* -------------------------testimonials--------------- */

#testimonials{
    padding: 7% 15%;
    text-align : center;
    background-color: #ef8172;
    color: #fff;
}
.testimonial-image{
    width: 10%;
    border-radius:100% ;
    margin: 20px;
}

/* ----------------press--------------- */
#press{
    text-align: center;
    background-color: #ef8172;
    padding-bottom: 3%;
}
.press{
    width: 15%;
    margin-right: 45px;
}
 
.card{
    height: 100%;
    /* margin: 0px 20px 0px 20px; */
}
.card-footer{
    vertical-align: bottom;
    text-align: center;
}

/* ------------price----- */
.pricing-col{
    padding: 3% 2%;
}
.head{
    padding:1.5%;
    text-align: center;
    font-size: 3.25rem;
}
.head-2{
    text-align: center;
    font-size: 1.25rem;
}
